.border_raro {
    border-radius: 27% 73% 70% 30% / 65% 70% 30% 35%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.shadow__total {
    -webkit-box-shadow: -1px 5px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 25px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 25px 0px rgba(0,0,0,0.75);
}