.swiper__second {
    width: 100%;
}
@media (min-width: 768px) {
    .swiper__second {
        width: 85%;
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}
@media (min-width: 768px) {
    .swiper-slide {
        width: 600px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FFF;
    padding: 2rem 1.5rem;
}
/* .swiper-button-prev,
.swiper-button-next {
    color: #FFF;
    background-color: #6d6a6a;
    padding: 2rem 1.5rem;
    border-radius: .2rem;
    transition: background-color .3s ease;
} */

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #FFF;
    background-color: #6d6a6a;
    
    border-radius: .2rem;
    transition: background-color .3s ease;
    
}

.swiper-pagination-bullet {
    background-color: white;
}