.swiper__first {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    .swiper__first {
        width: 70%;
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}
@media (min-width: 768px) {
    .swiper-slide {
        width: 600px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev {
    color: #FFF;
}

.swiper-button-next {
    color: #FFF;
}

.swiper-pagination-bullet {
    background-color: white;
}